[submodule "src/libcsv"]
	path = src/libcsv
	url = https://github.com/rgamble/libcsv.git
[submodule "src/minilang"]
	path = src/minilang
	url = https://github.com/wrapl/minilang
[submodule "src/whereami"]
	path = src/whereami
	url = https://github.com/gpakosz/whereami.git
